# Environments
venv/
env/
.env
.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs & Models
logs/
models/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
equity_curve.png
